.work-history-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.work {
  padding-bottom: 0.5rem;
  background-color: #03001c;
  border-radius: 20px;
  padding: 2rem;
}

.work-title {
  margin: 0.2rem auto;
}

.company-title {
    font-size: 1.2rem;
}

.work-interval {
    font-size: .8rem;
}

.work-projects {
    margin-top: 1rem;
    display: flex;
}

.project-pill {
  max-width: fit-content;
    background-color: purple;
    padding: .3rem .5rem;
    margin-left: .5rem;
    border-radius: 10px;
}

.experience-description > li {
    margin-top: .5rem;
    line-height: 1.4rem;
}

/* ------------------------------------------------------------------------ */
@media screen and (max-width: 915px) {
  .work-history-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* @media screen and (max-width: 500px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
} */
