body {
  height: 200vh;
  background-color: #1b2430;
  color: white;
  margin: 0;
  font-family: "Roboto";
}

header {;
  background-color: #03001c;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.mobile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.my-name {
  /* border-bottom: 3px solid white;
  border-left: 15px solid white; */
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  margin: 0.5rem;
  padding: 1rem;
}

.my-name:hover {
  font-weight: bolder;
  cursor: pointer;
}

.mobile-header > #menu-icon {
  display: none;
  padding: 2rem;
}

#navbar-main {
  display: flex;
}

nav {
  display: flex;
}

.nav-item {
  list-style-type: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-size: 1.3rem;
  padding: 0.6rem;
  margin-left: 0.4rem;
}

.nav-item:hover {
  border-bottom: 4px solid purple;
  color: white;
}

.nav-item-special {
  font-weight: 700;
  margin-left: 1rem;
  border: 2px solid purple;
}

.nav-item-special:hover {
  background-color: purple;
  border: none;
}

@media only screen and (max-width: 915px) {
  header {
    width: 100%;
    display: block;
    flex-direction: column;
    align-items: center;
  }
  /* .my-name {
    
  } */
  .mobile-header > #menu-icon {
    display: block;
    cursor: pointer;
  }

  #navbar-main {
    display: none;
  }
  nav {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .nav-item {
    /* width: 100%; */
    margin: 0 1.2rem 1rem 0;
    text-align: right;
  }
  .nav-item-special {
    width: auto;
  }
}

.section-title {
  margin: 2rem 30vw;
  text-align: center;
  font-size: 2rem;
  border-bottom: 4px solid white;
  text-transform: uppercase;
}