    .projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.project {
  padding-bottom: 0.5rem;
  background-color: #03001c;
  border-radius: 10px;
}

.project > .project-stack {
  position: absolute;
  border-radius: 10px 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  font-weight: 600;
  color: white;
  padding: 0.5rem;
  background-color: rgba(21, 22, 23, 0.5);
}

.project > img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.project > h3 {
  text-align: center;
  margin: 0.6rem 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
}

.project > p {
  text-align: center;
  margin: 1rem;
  margin-top: 0;
  font-size: 1.2rem;
}

.project > .project-links {
  margin: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project > .project-links > a {
  width: 40%;
  margin: 0.3rem;
  padding: 0.8rem;
  border-radius: 5px;
  background-color: wheat;
  color: purple;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.08rem;
}

.project > .project-links > a:hover {
  background-color: #03001c;
  border: 2px solid purple;
  color: purple;
  font-weight: 700;
}

.project > .project-links > a:visited {
  color: purple;
}

@media screen and (max-width: 915px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
